<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<hr>

<div class = "container">
  <div>
    <div class = "col-md-12 blog-main">
      <div>
        <% @articles.each do |article| %>
          <div>
            <h2><%= article.title %></h2>
            <hr>
            <div class ="row">
              <% if article.image.attached? == true%>
                <div class = 'col' > <span class="border"><%= image_tag(url_for(article.thumbnailbig))%></span></div>
              <%else%>
                <div class = 'col' > <span class="border"><%= image_tag("Ruby.jpg")%></span></div>
              <% end %>
              <div class = 'col' > <h3> <%= article.decsription%></h3></div>
            </div>
            <br>
            <%= link_to 'Show', article_path(article), :class => 'btn btn-outline-primary' %>
          </div>
          <hr>
          <br>
         <%end%>
      </div>
    </div>
  </div>
</div>



