<!DOCTYPE html>
<html>
  <head>
    <title>ArticleSite</title>
    <%= csrf_meta_tags %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <%= link_to 'Article Site', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <% if session[:user_id] == nil %>
            <%= link_to 'Login', login_path, class: "nav-link" %>
          <li> <%= link_to 'Signin', new_user_path, class: "nav-link" %> </li>
          <%else%>
              <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
            </li>
            <li>
              <%= link_to 'My profile',user_path(@current_user) ,class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'My articles',userarticles_path ,class: "nav-link"%>
            </li>
              <% if @current_user.admin_status != false %>
              <li class="nav-item">
                <%= link_to 'Users', users_path, class: "nav-link" %>
              </li>
              <%end%>
          <%end%>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
